body {
    background: url('../assets/images/battlepage.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: var(--tertiary);
    color: var(--fontStandardColor);
    font-size: 3vw;
    text-align: center;
    font-family: var(--standardFontFamily);
}

ol {
    font-family: var(--standardFontFamily);
}

li {
    font-family: var(--standardFontFamily);
}

:root {
    --primary: #F3F3F3;
    --secondary: #A50104;
    --tertiary: #250001;
    --highlight: #ffee02;
    --highlight2: #ff9900;
    --fontStandardColor: #FCBA04;
    --font-title: 'Shojumaru', cursive;
    --font-header: 'Ceviche One', cursive;
    --font-body: 'Happy Monkey', cursive;
}

.buryIt {
    display: none !important;
}

.card-body {
    background: var(--secondary);
    color: var(--highlight2);
}

.burgerDiv {
    display: flex;
    justify-content: center;
}

.test {
    color: var(--highlight2);
    font-family: var(--standardFontFamily);
}

.burger-battle-title {
    padding-bottom: 15px;
    font-family: var(--font-title);
}

.battle-discription {
    font-family: var(--font-body);
    font-size: 25px;
}

.app-discription {
    font-family: var(--font-body);
    font-size: 20px;
}

.button-start {
    background: #ebb607;
    width: 100px;
    height: 40px;
    padding: 4px 0;
    transform: translateX(-10%) translateY(-10%);
    border-radius: 3px;
    font-family: var(--font-title);
    font-size: 20px;
}
    .button-words {
        font-family: var(--font-title);
        font-size: 20px; 
        text-align: center;
        text-transform: uppercase;
        color: rgb(92, 5, 5);
        user-select: none;
    }

button:hover {
    cursor: pointer;
}

.test1 {
    display: table-cell;
    vertical-align: top;

}

.card-1 {
    text-align: left;
    font-family: var(--font-body); 
    font-size: 15px;
    display: block;
    vertical-align: top;
    width: 100%;
    
}

.card-2 {
    text-align: left;
    font-family: var(--font-body); 
    font-size: 15px;
    display: block;
    vertical-align: top;
    width: 100%;
}

#burgerLeftDiv {
    width: 100%;
}

#burgerRightDiv {
    width: 100%;
}

#fightAgain {
    margin-bottom: 15px;
}

/* Cartoon Fight Cloud CSS and Animation */

.cartoonFightDiv {
    position: fixed;
    top: 20vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    width: 0;
    -webkit-transition: width 2s, z-index 2s, top 2s; /* Safari */
    transition: width 2s, z-index 2s, top 2s;
}

.fightDiv {
    top: -10vw;
    z-index: 2;
    width: 100%;
}

.cartoonFightCloud {
    width: 0vw;
    -webkit-transition: width 2s, transform 2s; /* Safari */
    transition: width 2s, transform 2s;
}

.fight {
    width: 80vw !important;
    /* transform: rotate(360deg) */
}

/* Smashing Burgers Animation CSS*/

.burgerLeft {
    width: 100% !important;
    -webkit-transition: margin-left 1s, transform .25s; /* Safari */
    transition: margin-left 1s, transform .25s;
}

.leftBurgerSmash {
    margin-left: 50%;
    transform: rotate(15deg);
}

.burgerRight { 
    width: 100% !important;
    -webkit-transition: margin-right 1s, transform .25s; /* Safari */
    transition: margin-right 1s, transform .25s;
}

.rightBurgerSmash {
    margin-right: 50%;
    transform: rotate(-15deg);
}